@charset "utf-8";
@font-face {
    font-family: 'GAMER';
    src: url(FONTES/Gamer\ Station.ttf) format('TRUETYPE');
    
}
@font-face {
    font-family: 'jogo';
    src: url(FONTES/MechaRx20Regular-j9Zy9.otf) format('opentype');
}
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sriracha&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgrey;
}

header {
    font-family:Sriracha;
    
    height: 70px;
    background-color: white;
    display: flex;
    justify-content: center; /* Centraliza o conteúdo do header */
    align-items: center; /* Alinha verticalmente */
    box-shadow: 0px 1px 1px black;
}

header > nav {
    display: flex;
    align-items: center; /* Alinha verticalmente os itens do nav */
}

header > nav > img {
    width: 200px; /* Tamanho da imagem */
    margin-right: 150px; /* Espaçamento entre a imagem e os links */
    
}

header > nav > a {
    color: #265787;
    text-decoration: none;
    margin-right: 150px; /* Espaçamento entre os links */
    font-size: 20px;
    text-shadow: 0px 1px 1px black;
}
.botao{
    font-family:Sriracha;
    color: rgba(255, 255, 255, 0.938);
    background-color: #265787;
    padding: 10px;
    font-size: 19px;
    border-radius: 10px  ;
    text-shadow: 0px 1px 1px black;
    text-decoration: none;

  

}


/* Media Query para telas menores */
@media (max-width: 1400px) {
    header > nav > img {
        width: 150px; /* Ajusta o tamanho da imagem */
        margin-right: 30px; /* Ajusta o espaço entre a imagem e os links */
        margin-left: 20px;
    }

    header > nav > a {
        margin-right: 30px; /* Ajusta o espaço entre os links */
    }
    .botao{
        margin-left: 0px;
        padding: 7px;
    }
}

@media (max-width: 650px) {
    header > nav {
        flex-direction: row; /* Mantém os itens lado a lado */
        align-items: center; /* Alinha os itens verticalmente */
        justify-content: center; /* Centraliza os itens horizontalmente */
        width: 100%; /* Garante que o nav use toda a largura */
       
    }

    header > nav > img {
        
        margin-right: 15px;
        margin-left: 1px;
        width: 120px;
    }

    header > nav > a {
        margin-right: 15px; /* Ajusta o espaço entre os links */
        font-size: 18px;

    }
    .botao{
        margin-left: 0px;
        font-size: 17px;
        text-align: center;
        padding: 7px;
        
    }

}
main {
    height: 450px;
    background-color:rgba(255, 255, 255, 0.507);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Ajusta o conteúdo para ocupar todo o espaço */
    flex-direction: row;
}

main > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main > div > h1{
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 60px;
  text-shadow: 0px 1px 1px black;
}
main > div > h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-bottom: 30px;
  }
  

.texto {
    margin-left: 100px; /* Ajusta o texto para a extremidade esquerda */
    text-align: center;
    display:flex ;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 800px;
    font-size: 16px;
    
}

.imagem {
    margin-right: 100px; /* Ajusta a imagem para a extremidade direita */
    margin-left: 10px;
    display:flex ;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 400px;
    
}
main > div > img{
width: 300px;
border-radius: 50px;

}

@media (max-width:1020px){
   
    main > div{
        margin-bottom: 20px;
    }
    main > div > img{
        width: 250px;
        
        
        }        
    .texto {
        margin: 0 10px;
        text-align: center;
        height: 400px;
        width: 700px;
        font-size: 15px;
     }
     
     .imagem {
        margin-right: 10px; /* Ajusta a imagem para a extremidade direita */
        flex-direction: row;
        justify-content: right;
        width: 250px;
    }
}
@media (max-width:650px){
   
    main {
        flex-direction: column;
        height: 600px;
    }
    main > div > h2{
       margin: 0 10px;
       padding-top: 20px;
        }
         
    .texto {
        width: 500px;
       
        
     }
     
   
}
footer{
    background-color: white;
    height: 450px;
    
}
footer > nav{
    display: flex;
    align-items: center;
    justify-content:center;
    
}
footer > nav > div > a{
    background-color: #265787;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 370px;
    width: 370px;
    text-decoration: none;
    margin: 20px 70px;
    color: white;
    border-radius: 10px;
    
}

footer > nav > div > a >img{
    width: 200px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.livro :hover{
    background-color: rgba(255, 255, 255, 0.267);
    transition: 0.4s;
}
@media(max-width:1000px) {
    footer{
        height: 250px;
    }
    footer > nav > div > a > img {
        width: 100px;
        margin-bottom: 20px;
        border-radius: 10px;
    }

    footer > nav > div > a {
        height: 200px;
        width: 200px;
        margin: 20px 10px;
        
       
        
    }
}
@media (max-width: 680px) {
    footer{
        height: 800px;
    }
    footer > nav {
        flex-direction: column; /* Muda a direção para coluna */
        align-items: center; /* Centraliza os itens horizontalmente */
    }

    footer > nav > div > a {
        height: 230px; /* Ajusta a altura dos links */
        width: 230px; /* Usa 90% da largura do contêiner */
        margin: 10px 0; /* Espaçamento vertical entre os links */
    }

    footer > nav > div > a > img {
        width: 100px; /* Ajusta o tamanho das imagens */
        margin-bottom: 10px; /* Espaçamento abaixo da imagem */
    }
}
.estudante{
    height: 450px;
    background-color:white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Ajusta o conteúdo para ocupar todo o espaço */
    flex-direction: row;
    margin-top: 10px;
}
.foto{
    margin-bottom: 0px;
    margin-left: 100px;
    margin-right: 10px;
    display:flex ;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 400px;
    padding: 20px;
}
.frase{
   
    margin-right: 100px;
    text-align: center;
    display:flex ;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 800px;
    font-size: 16px;
}
@media (max-width:1020px){
   
    main > div{
        margin-bottom: 20px;
    }
    main > div > img{
        width: 250px;
        
        
        }        
    .frase {
        margin: 0 10px;
        text-align: center;
        height: 400px;
        width: 700px;
        font-size: 15px;

     }

     
     .foto {
        margin-left: 10px;
        flex-direction: row;
        justify-content: right;
        width: 250px;
        margin-left: 20px;
    }
    .frase > h1{
        padding-bottom: 0px;
        font-size: 24px;
    }
    .frase > h2{
        padding-top: 8px;
        font-size: 21.5px;
        padding-bottom: 5px;
    }
}
@media(max-width:632px){
    .estudante{
        height: 600px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .frase{
        width: 400px;

    }
}