@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sriracha&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: open sans;
    background-color: white;
}

header {
    font-family:open sans;
    height: 60px;
    background-color: white;
    display: flex;
    justify-content: center; /* Centraliza o conteúdo do header */
    align-items: center; /* Alinha verticalmente */ 
}

header > nav {
    display: flex;
    align-items: center; /* Alinha verticalmente os itens do nav */
}

header > nav > img {
    width: 200px; /* Tamanho da imagem */
    margin-right: 100px; /* Espaçamento entre a imagem e os links */
  
}

header > nav > a {
    color: #6385a8;
    text-decoration: none;
    margin-right: 200px; /* Espaçamento entre os links */
    font-size: 22px;
    font-weight: 600px;

}
header > nav > a:hover{
    color: #e87d0d;
}
.botao{
    font-family:open sans;
    color: rgba(255, 255, 255, 0.938);
    background-color: #6385a8;
    padding: 8px;
    font-size: 19px;
    border-radius: 10px  ;
    text-shadow: 0px 1px 1px black;
    text-decoration: none;
    box-shadow: 0px 0px 2px black;
    margin-right: 50px;
}
.botao:hover{
    color: lightgray;
    background-color: #e87d0d;
}
/* Media Query para telas menores */
@media (max-width: 1600px) {
    header > nav > img {
        width: 200px; /* Ajusta o tamanho da imagem */
        margin-right: 100px; /* Ajusta o espaço entre a imagem e os links */
        margin-left: 20px;
    }

    header > nav > a {
        color: #6385a8;
        text-decoration: none;
        margin-right: 100px; /* Espaçamento entre os links */
        font-size: 22px;
        font-weight: 600px;
    
    }
    .botao{
        margin-left: 0px;
        padding: 7px;
    }
}

@media (max-width: 650px) {
    header > nav {
        flex-direction: row; /* Mantém os itens lado a lado */
        align-items: center; /* Alinha os itens verticalmente */
        justify-content: center; /* Centraliza os itens horizontalmente */
        width: 100%; /* Garante que o nav use toda a largura */
       
    }

    header > nav > img {
        
        margin-right: 0px;
        margin-left: 1px;
        width: 160px;
    }

    header > nav > a {
        margin-right: 15px; /* Ajusta o espaço entre os links */
        font-size: 18px;

    }
    .botao{
        margin-left: 0px;
        font-size: 17px;
        text-align: center;
        padding: 7px;
        
    }

}
#blender{
    height: 800px;
    background-color: rgba(211, 211, 211, 0.712);
    display: flex;
    align-items: center;
    justify-content: space-between; /* Ajusta o conteúdo para ocupar todo o espaço */
    flex-direction: row;
    background-size: cover;
}
.h2{
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 40px;
    text-shadow: 0px 1px 1px black;
    color: #265787;
    font-size: 5em;
    font-weight: bold;
    
}
.carac{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-bottom: 30px;
    padding-left: 10px;
    color: #265787;
    font-size: 2.5em;
    
  
  }
.lara{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-bottom: 30px;
    color: #e87d0d;
  }
.texto {
    padding-top: 20px;
    margin-left: 200px; /* Ajusta o texto para a extremidade esquerda */
    text-align: left;
    display:flex ;
    align-items: flex-start;
    height: 400px;
    width: 1000px;
    font-size: 16px; 
}
.apertar{
    font-family:open sans;
    color: white;
    background-color: #265787;
    padding: 10px;
    font-size: 19px;
    border-radius: 10px  ;
    text-decoration: none;
    margin-left: 50%;
}
.apertar:hover{
    color: white;
    background-color: #e87d0d;
}
.imagem {
    margin-right: 150px; /* Ajusta a imagem para a extremidade direita */
    margin-left: 10px;
    display:flex ;
    align-items: flex-start;
    justify-content: center;
    height: 600px;
    width: auto;
}
main > .imagem > img{
    width: 500px;
    
    
    }
@media (max-width:1600px){
    #blender {
        position: relative; /* Necessário para que os elementos internos sejam posicionados em relação a esse contêiner */
        height: 400px;
        background-color: rgba(211, 211, 211, 0.712);
        text-align: center; /* Centraliza o conteúdo no main */
    }
    
    .texto {
        color: white; /* Cor do texto */
        position: relative;
        z-index: 10; /* Garante que o texto fique acima da imagem */
        margin-left: 50px; /* Ajusta o texto para a extremidade esquerda */

    }
    .carac{
        font-size: 35px;
    }
    .h2{
        font-size: 56px;
    }
    
    .imagem {
       display: flex;   
        margin-right: 0;
        text-align: right;
        float: right; /* Alinha a imagem à direita */
        padding: 0; /* Remove preenchimento interno, caso exista */
        align-items: flex-start;
        position: relative;
        z-index: 5; /* A imagem ficará atrás do texto */
    }
    .apertar{
        margin-left: 200px;
    }
    .imagem > img {
       width: 400px; /* Define a largura fixa */
       height: auto; /* Mantém a proporção */
        margin-bottom: 450px;
        
        
    }
    
}

@media (max-width:1380px){
    #blender{
        align-items: flex-start;
    }
    .imagem{
        padding-top: 100px;
    }
    h2{
        padding: 30px;
        font-size: 20px;
    }
  
}
@media (max-width:500px){
    .texto{
        flex-direction: column;
        margin-right: 1px;
    }
    .imagem{
        padding: 1px;
        margin-left: 0;
        
    }

    .h1{
        font-size: 3em;
        text-align: left;
        padding-bottom: 30px;
        padding-left: 8px;
    }
    .carac{
        font-size: 2em;
        text-align: left;
    }
    #blender > .imagem > img{
    width: 200px;
}
}
main {
    height: 700px;
    background-color: #265787;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Ajusta o conteúdo para ocupar todo o espaço */
    flex-direction: row;
}
main > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
main > .imag > img{
width: 600px;
border-radius: 50px;

}
.h11{
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 40px;
    text-shadow: 0px 1px 1px black;
    color: white;
    font-size: 5em;
    font-weight: bold;
    
}
#carac{
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 40px;
    text-shadow: 0px 2px 1px black;
    color:white;
    font-size: 2.5em;
}
.marcador {
    padding-top: 20px;
    margin-left: 200px; /* Ajusta o texto para a extremidade esquerda */
    text-align: left;
    display:flex ;
    align-items: flex-start;
    height: 500px;
    width: 1000px;
    font-size: 16px; 
}
.imag {
    margin-right: 200px; /* Ajusta a imagem para a extremidade direita */
    margin-left: 10px;
    display:flex ;
    align-items: center;
    justify-content: center;
    height: 620px;
    width: 500px;
    filter: drop-shadow(1px 3px 5px black);
    background-color: white;
    border-radius: 50%;
}

@media (max-width:1020px){
   
    main > div{
        margin-bottom: 20px;
    }
    main > div > img{
        width: 250px;
        }        
    .texto {
        margin: 0 10px;
        text-align: center;
        height: 400px;
        width: 700px;
        font-size: 15px;
     }
     
     .imagem {
        margin-right: 10px; /* Ajusta a imagem para a extremidade direita */
        flex-direction: row;
        justify-content: right;
        width: 250px;
    }
}
@media (max-width:650px){
   
    main {
        flex-direction: column;
        height: 600px;
    }
    main > div > h2{
       margin: 0 10px;
        }
         
    .texto {
        width: 500px;  
     }
}
footer{
    background-color: whitesmoke;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content:center;
    
}
footer > nav{
    display: flex;
    align-items: center;
    justify-content:center;
    
}
footer > nav > div > a{
    font-family: open sans;
    font-weight: 700;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 400px;
    width: 400px;
    text-decoration: none;
    margin: 0 70px;
    color: #265787;
    border-radius: 12px;
    font-size: 40px;  
    border: 1px solid black; 
    margin-bottom: 0;
}
.foo{
    color: #265787;
    font-size:40px ;
    padding: 25px 0;
    
    
}
.livro{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer > nav > div > a:hover{
   background-color: #265787;
}
footer > nav > div > a >img{
    width: 400px;
    border-radius: 10px;
   
    
}

footer > nav > div > a >img:hover{
  scale: 1.3;
}
.livro :hover{
    background-color: rgba(255, 255, 255, 0.267);
    transition: 0.4s;
}
@media(max-width:1280px) {
    footer{
        height: 450px;
    }
    footer > nav > div > a > img {
        width: 100px;
        margin-bottom: 20px;
        border-radius: 10px;
    }

    footer > nav > div > a {
        height: 200px;
        width: 200px;
        margin: 20px 10px; 
    }
}
@media (max-width: 680px) {
    footer{
        height: 800px;
    }
    footer > nav {
        flex-direction: column; /* Muda a direção para coluna */
        align-items: center; /* Centraliza os itens horizontalmente */
    }

    footer > nav > div > a {
        height: 230px; /* Ajusta a altura dos links */
        width: 230px; /* Usa 90% da largura do contêiner */
        margin: 10px 0; /* Espaçamento vertical entre os links */
    }

    footer > nav > div > a > img {
        width: 100px; /* Ajusta o tamanho das imagens */
        margin-bottom: 10px; /* Espaçamento abaixo da imagem */
    }
}
.estudante{
    height: 800px;
    background-color:white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Ajusta o conteúdo para ocupar todo o espaço */
    flex-direction: row;
    
    
}

.foto{
    margin-top: 150px;
    margin-bottom: 0px;
    margin-left: 50px;
    margin-right: 5px;
    display:flex ;
    align-items: center;
    justify-content: center;
    height: 600px;
    width: 600px;
    padding: 20px;
    
}
.foto > img{
    width: 750px;
}
.ajusta{
    margin-right: 50px;
    text-align: center;
    display:flex ;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 800px;
    font-size: 16px;
}
.frase{
   
    margin-right: 100px;
    text-align: center;
    display:flex ;
    align-items: center;
    justify-content: center;
    height: 800px;
    width: 950px;
    font-size: 16px;
    flex-direction: column;
   
    
}
.frase > h1{
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 30px;
    text-shadow: 0px 1px 1px black;
    color:black;
    font-size: 4em;
    text-align: right;
    color: #265787;
    font-weight: bold;
  }
  .frase > h2{
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bolder;
      padding-bottom: 30px;
      color:black;
      font-size: 2em;
      text-align: right;
      color: #265787;
}
.laranja {
    margin-right: 100px; /* Ajusta a imagem para a extremidade direita */
    margin-left: 10px;
    display:flex ;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 400px;
    filter: drop-shadow(1px 1px 5px black);
   

}
.laranja > img{
    width: 200px;
}
@media (max-width:1020px){
   
    main > div{
        margin-bottom: 20px;
    }
    main > div > img{
        width: 250px;
        
        
        }        
    .frase {
        margin: 0 10px;
        text-align: center;
        height: 400px;
        width: 700px;
        font-size: 15px;

     }

     
     .foto {
        margin-left: 10px;
        flex-direction: row;
        justify-content: right;
        width: 250px;
        margin-left: 20px;
    }
    .frase > h1{
        padding-bottom: 0px;
        font-size: 24px;
    }
    .frase > h2{
        padding-top: 8px;
        font-size: 21.5px;
        padding-bottom: 5px;
    }
}
@media(max-width:632px){
    .estudante{
        height: 600px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .frase{
        width: 400px;

    }
}

#assista{
    background-image: url(imagens/fundo\ 2.jpg);
    height: 900px;
    display: flex;
    align-items: center;
    justify-content:center;

}

#assista > nav{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    
}
#assista > nav > div > div > a{
    font-family: open sans;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 240px;
    width: 300px;
    text-decoration: none;
    margin: 100px 100px;
    color: white;
    border-radius: 10px;
    font-size: 30px; 
}
#assista > nav > div > div > a >img{
    width: 500px;
    height: 300px;
    margin-bottom: 30px;
    border-radius: 10px;
}
#organiza{
    display: flex;
    align-items: center;
    justify-content:center;
}
#assista > nav > div > h1{
    color: white;
    font-family: open sans;
    font-weight: bold;
    display: flex;
    margin-right: 1300px;
    font-size: 4em;
    margin-bottom: 100px;
}
#assista > nav > #organiza > div > a{
    height: 350px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 30px;

}

#final{
    height: 30px;
    background-color: black;
}
#final > h1{
    font-family: sriracha;
    color: white;
    font-size: 15px;
    text-align: center;
    padding: 2px;
}
